<!DOCTYPE html>
{% load staticfiles %}

<html style="border-style: solid; border-color:black;border-width:2px;background-color:#829AA8;">
    <head>
        <div  style="background-color : #E1EFBB ;border-width:3px;border-style:solid;border-color:#3C3B37" >
            <!--<img src="{% static 'gorilist.png' %}" alt="Gorilist_Logo" style = " position:relative; top:10%; left:40%;" /><br>-->
            <h1 style="text-align:center;color:grey;font-family:Helvetica;font-size:250%">The Gorilist </h1><br>
            <h2 style="position:relative;left:10px;color:grey;">{% block title %} {% endblock %}</h2>
        </div>
    </head>
    <body>
        <div>
            {% block body_block %} {% endblock %}
        </div>
        <hr />
        <div style="text-align:center;">
            The Gorilist, a service for organizing and sharing your tasks
        </div>
    </body>
</html>