<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <link href="/home/gkas/gorilist/gorilist/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/home/gkas/gorilist/gorilist/static/base.css" rel="stylesheet">

    </head>
    <body>
        <script src="/home/gkas/gorilist/gorilist/static/bootstrap/js/jquery/1.11.1/jquery.js"></script>
        <script src="/home/gkas/gorilist/gorilist/static/bootstrap/js/bootstrap.min.js"></script>
        <div class="col-md-12">
            <div class="text-center">
            <!--<img src="{% static 'gorilist.png' %}" alt="Gorilist_Logo" style = " position:relative; top:10%; left:40%;" /><br>-->
            <h1>The Gorilist </h1>
            <h2>{% block title %} {% endblock %}</h2>
        </div>
            {% block body_block %} {% endblock %}
        </div>

        <div class="footer navbar-fixed-bottom">
            <div class="container">
                <p class="text-muted text-center">The Gorilist, a service for organizing and sharing your tasks
            </div>
        </div>
    </body>
</html>
