{% extends 'base.html' %}
{% block title %} All the Notes {% endblock %}
{% block body_block %}
    <ul>
    {% for note in object_list %}
        <li>
            Note : {{ note.title }} -- {{ note.id }}
            <a href="/remove_N/{{ note.id }}" style="text-decoration:none"><input type="button" value="Delete Note"></a>
        <br>Body : {{ note.body }}
        <br>Pub Date : {{ note.pub_date }}
        </li>
    {% endfor %}
    </ul>
    <a href="/" style="text-decoration:none"><input type="button" value="HOME"></a>
{% endblock %}