{% extends 'base.html' %}
{% block title %} All the Tasks {% endblock %}
{% block body_block %}
    <ul>
    {% for task in object_list %}
        <li>Task : {{ task.id }} -- {{ task.title }}
        <a href="/remove_T/{{ task.id }}" style="text-decoration:none"><input type="button" value="Delete Task"></a>
        <br>Body : {{ task.body }}
        <br>Pub Date : {{ task.pub_date }}
        </li>
    {% endfor %}
    </ul>
    <a href="/" style="text-decoration:none"><input type="button" value="HOME"></a>
{% endblock %}