{% extends 'base.html'%}
{% block title %} Tasks {% endblock %}

{% block body_block %}
    <ul>
    {% for task in result %}
        <li><a href="/notes/{{task.id}}">{{ task.title }} -- id : {{ task.id }}</a>
        <br>Body : {{ task.body }}
        <br>Pub Date : {{ task.pub_date }}
        </li>
    {% endfor %}
    </ul>
    <a href="/new_task/{{ t_l_id }}" style="text-decoration:none"><button class="btn btn-primary glyphicon glyphicon-plus" title="Add Task"></button></a>
    <a href="/" style="text-decoration:none"><button class="btn btn-primary glyphicon glyphicon-home" title="HOME"></button></a>
{% endblock %}